@{
    ViewData["Title"] = "Hakkımızda";
}

<div class="container mt-5">
    <h1 class="text-center">Hakkımızda</h1>

    <div class="mt-4">
        <h4>Tarihçe</h4>
        <p>@ViewBag.CompanyHistory</p>
    </div>
    <br />
   
   
    <div class="mt-4">
        <h4>Bugün</h4>
        <p>@ViewBag.Advertisement</p>
    </div>
    <br />
    <div class="mt-4">
        <h4>İletişim Bilgileri</h4>
        <p><strong>Adres:</strong> @ViewBag.Address</p>
        <p><strong>Telefon:</strong> @ViewBag.Contact</p>
    </div>
</div>
