    <div class="search-popup">
        <div class="search-popup-container">

            <form role="search" method="get" class="search-form" action="">
                <input type="search" id="search-form" class="search-field" placeholder="Ara" value=""
                       name="s" />
                <button type="submit" class="search-submit">
                    <svg class="search">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
            </form>

            <h5 class="cat-list-title">Kategoriler</h5>

            <ul class="cat-list">
                <li class="cat-list-item">
                    <a href="#" title="Roman">Roman</a>
                </li>
                <li class="cat-list-item">
                    <a href="#" title="Siir">Şiir</a>
                </li>
                <li class="cat-list-item">
                    <a href="#" title="Tarih">Tarih</a>
                </li>
                <li class="cat-list-item">
                    <a href="#" title="Soylev">Söylev</a>
                </li>
                <li class="cat-list-item">
                    <a href="#" title="Biyografi">Biyografi</a>
                </li>
                <li class="cat-list-item">
                    <a href="#" title="Felsefe">Felsefe</a>
                </li>
                <li class="cat-list-item">
                    <a href="#" title="BilimKurgu">BilimKurgu</a>
                </li>
                <li class="cat-list-item">
                    <a href="#" title="Polisiye">Polisiye</a>
                </li>
                <li class="cat-list-item">
                    <a href="#" title="KisiselGelisim">Kişisel Gelişim</a>
                </li>
            </ul>

        </div>
    </div>

    <section id="company-services" class="padding-large pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <svg class="cart-outline">
                                <use xlink:href="#cart-outline" />
                            </svg>
                        </div>
                        <div class="icon-box-content">
                            <h4 class="card-title mb-1 text-capitalize text-dark">Kategoriler</h4>
                            <p>30+ kategoride 10.000'den fazla kitabı keşfetmek için tıklayın.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <svg class="quality">
                                <use xlink:href="#quality" />
                            </svg>
                        </div>
                        <div class="icon-box-content">
                            <h4 class="card-title mb-1 text-capitalize text-dark">Yazarlar</h4>
                        <p>Türk ve Dünya edebiyatından birbirinden değerli yazarlara ait eserleri keşfedin.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <svg class="price-tag">
                                <use xlink:href="#price-tag" />
                            </svg>
                        </div>
                        <div class="icon-box-content">
                            <h4 class="card-title mb-1 text-capitalize text-dark">Yayınevleri</h4>
                        <p>Önde gelen yayınevlerinden en yeni ve en çok satan eserlerini inceleyin.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <svg class="shield-plus">
                                <use xlink:href="#shield-plus" />
                            </svg>
                        </div>
                        <div class="icon-box-content">
                            <h4 class="card-title mb-1 text-capitalize text-dark">Yeni Gelenler</h4>
                            <p>Sürekli genişleyen kütüphanemize katılan farklı kitap, yazar ve yayınevlerini incelemek ve yorum yapmak için üye olun.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="best-selling-items" class="position-relative padding-large ">
        <div class="container">
            <div class="section-title d-md-flex justify-content-between align-items-center mb-4">
                <h3 class="d-flex align-items-center">En Beğenilenler</h3>
                <a href="shop.html" class="btn">Tümünü Gör</a>
            </div>
            <div class="position-absolute top-50 end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next product-slider-button-next">
                <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
                    <use xlink:href="#alt-arrow-right-outline"></use>
                </svg>
            </div>
            <div class="position-absolute top-50 start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev product-slider-button-prev">
                <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
                    <use xlink:href="#alt-arrow-left-outline"></use>
                </svg>
            </div>
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card position-relative p-4 border rounded-3">
                            <div class="position-absolute">
                                <p class="bg-primary py-1 px-3 fs-6 text-white rounded-2">Editör Tavsiyesi</p>
                            </div>
                            <img src="KapakResimleri/images/product-item1.png" class="img-fluid shadow-sm" alt="product item">
                            <h6 class="mt-4 mb-0 fw-bold"><a href="single-product.html">Saatleri Ayarlama Enstitüsü</a></h6>
                            <div class="review-content d-flex">
                                <p class="my-2 me-2 fs-6 text-black-50">Ahmet Hamdi Tanpınar</p>

                                <div class="rating text-warning d-flex align-items-center">
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">
                                <button type="button" href="#" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Tooltip on top">
                                    <svg class="cart">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </button>
                                <a href="#" class="btn btn-dark">
                                    <span>
                                        <svg class="wishlist">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card position-relative p-4 border rounded-3">
                            <img src="KapakResimleri/images/product-item2.png" class="img-fluid shadow-sm" alt="product item">
                            <h6 class="mt-4 mb-0 fw-bold"><a href="single-product.html">Dune</a></h6>
                            <div class="review-content d-flex">
                                <p class="my-2 me-2 fs-6 text-black-50">Frank Herbert</p>

                                <div class="rating text-warning d-flex align-items-center">
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                </div>
                            </div>

                            <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">
                                <button type="button" href="#" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Tooltip on top">
                                    <svg class="cart">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </button>
                                <a href="#" class="btn btn-dark">
                                    <span>
                                        <svg class="wishlist">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card position-relative p-4 border rounded-3">
                            <img src="KapakResimleri/images/product-item3.png" class="img-fluid shadow-sm" alt="product item">
                            <h6 class="mt-4 mb-0 fw-bold"><a href="single-product.html">İnsan Olmak</a></h6>
                            <div class="review-content d-flex">
                                <p class="my-2 me-2 fs-6 text-black-50">Engin Geçtan</p>

                                <div class="rating text-warning d-flex align-items-center">
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">
                                <button type="button" href="#" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Tooltip on top">
                                    <svg class="cart">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </button>
                                <a href="#" class="btn btn-dark">
                                    <span>
                                        <svg class="wishlist">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card position-relative p-4 border rounded-3">
                            <div class="position-absolute">
                            <p class="bg-primary py-1 px-3 fs-6 text-white rounded-2">Editör Tavsiyesi</p>
                            </div>
                            <img src="KapakResimleri/images/product-item4.png" class="img-fluid shadow-sm" alt="product item">
                            <h6 class="mt-4 mb-0 fw-bold"><a href="single-product.html">Hızlı ve Yavaş Düşünme</a></h6>
                            <div class="review-content d-flex">
                                <p class="my-2 me-2 fs-6 text-black-50">Daniel Kahneman</p>

                                <div class="rating text-warning d-flex align-items-center">
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                </div>
                            </div>

                             <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">
                                <button type="button" href="#" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Tooltip on top">
                                    <svg class="cart">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </button>
                                <a href="#" class="btn btn-dark">
                                    <span>
                                        <svg class="wishlist">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card position-relative p-4 border rounded-3">
                            <img src="KapakResimleri/images/product-item5.png" class="img-fluid shadow-sm" alt="product item">
                            <h6 class="mt-4 mb-0 fw-bold"><a href="single-product.html">Walden</a></h6>
                            <div class="review-content d-flex">
                                <p class="my-2 me-2 fs-6 text-black-50">Henry David Thoreau</p>

                                <div class="rating text-warning d-flex align-items-center d-flex align-items-center">
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">
                                <button type="button" href="#" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Tooltip on top">
                                    <svg class="cart">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </button>
                                <a href="#" class="btn btn-dark">
                                    <span>
                                        <svg class="wishlist">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card position-relative p-4 border rounded-3">
                            <img src="KapakResimleri/images/product-item6.png" class="img-fluid shadow-sm" alt="product item">
                            <h6 class="mt-4 mb-0 fw-bold"><a href="single-product.html">Karamazov Kardeşler</a></h6>
                            <div class="review-content d-flex">
                                <p class="my-2 me-2 fs-6 text-black-50">Fyodor Mihayloviç Dostoyevski</p>

                                <div class="rating text-warning d-flex align-items-center">
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                    <svg class="star star-fill">
                                        <use xlink:href="#star-fill"></use>
                                    </svg>
                                </div>
                            </div>

                             <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">
                                <button type="button" href="#" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Tooltip on top">
                                    <svg class="cart">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </button>
                                <a href="#" class="btn btn-dark">
                                    <span>
                                        <svg class="wishlist">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="items-listing" class="padding-large">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
                    <div class="featured border rounded-3 p-4">
                        <div class="section-title overflow-hidden mb-5 mt-2">
                            <h3 class="d-flex flex-column mb-0">Ödüllü Eserler</h3>
                        </div>
                        <div class="items-lists">
                            <div class="item d-flex">
                                <img src="KapakResimleri/images/product-item2.png" class="img-fluid shadow-sm" alt="product item">
                                <div class="item-content ms-3">
                                    <h6 class="mb-0 fw-bold"><a href="single-product.html">Karamazov Kardeşler</a></h6>
                                    <div class="review-content d-flex">
                                        <p class="my-2 me-2 fs-6 text-black-50">Fyodor Mihayloviç Dostoyevski</p>

                                        <div class="rating text-warning d-flex align-items-center">
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                            <hr class="gray-400">
                            <div class="item d-flex">
                                <img src="KapakResimleri/images/product-item1.png" class="img-fluid shadow-sm" alt="product item">
                                <div class="item-content ms-3">
                                    <h6 class="mb-0 fw-bold"><a href="single-product.html">Dönüşüm</a></h6>
                                    <div class="review-content d-flex">
                                        <p class="my-2 me-2 fs-6 text-black-50">Franz Kafka</p>
                                        <div class="rating text-warning d-flex align-items-center">
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                            <hr>
                            <div class="item d-flex">
                                <img src="KapakResimleri/images/product-item3.png" class="img-fluid shadow-sm" alt="product item">
                                <div class="item-content ms-3">
                                    <h6 class="mb-0 fw-bold"><a href="single-product.html">Sefiller</a></h6>
                                    <div class="review-content d-flex">
                                        <p class="my-2 me-2 fs-6 text-black-50">Victor Hugo</p>

                                        <div class="rating text-warning d-flex align-items-center">
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
                    <div class="latest-items border rounded-3 p-4">
                        <div class="section-title overflow-hidden mb-5 mt-2">
                            <h3 class="d-flex flex-column mb-0">Yeni Gelenler</h3>
                        </div>
                        <div class="items-lists">
                            <div class="item d-flex">
                                <img src="KapakResimleri/images/product-item4.png" class="img-fluid shadow-sm" alt="product item">
                                <div class="item-content ms-3">
                                    <h6 class="mb-0 fw-bold"><a href="single-product.html">Kürk Mantolu Madonna</a></h6>
                                    <div class="review-content d-flex">
                                        <p class="my-2 me-2 fs-6 text-black-50">Sabahattin Ali</p>
                                        <div class="rating text-warning d-flex align-items-center">
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                            <hr class="gray-400">
                            <div class="item d-flex">
                                <img src="KapakResimleri/images/product-item5.png" class="img-fluid shadow-sm" alt="product item">
                                <div class="item-content ms-3">
                                    <h6 class="mb-0 fw-bold"><a href="single-product.html">Çalıkuşu</a></h6>
                                    <div class="review-content d-flex">
                                        <p class="my-2 me-2 fs-6 text-black-50">Reşat Nuri Güntekin</p>
                                        <div class="rating text-warning d-flex align-items-center">
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                            <hr>
                            <div class="item d-flex">
                                <img src="KapakResimleri/images/product-item6.png" class="img-fluid shadow-sm" alt="product item">
                                <div class="item-content ms-3">
                                    <h6 class="mb-0 fw-bold"><a href="single-product.html">Hayvan Çiftliği</a></h6>
                                    <div class="review-content d-flex">
                                        <p class="my-2 me-2 fs-6 text-black-50">George Orwell</p>
                                        <div class="rating text-warning d-flex align-items-center">
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
                    <div class="best-reviewed border rounded-3 p-4">
                        <div class="section-title overflow-hidden mb-5 mt-2">
                            <h3 class="d-flex flex-column mb-0">En Çok Yorum Alanlar</h3>
                        </div>
                        <div class="items-lists">
                            <div class="item d-flex">
                                <img src="KapakResimleri/images/product-item7.png" class="img-fluid shadow-sm" alt="product item">
                                <div class="item-content ms-3">
                                    <h6 class="mb-0 fw-bold"><a href="single-product.html">Eugenie Grandet</a></h6>
                                    <div class="review-content d-flex">
                                        <p class="my-2 me-2 fs-6 text-black-50">Honore De Balzac</p>
                                        <div class="rating text-warning d-flex align-items-center">
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                            <hr class="gray-400">
                            <div class="item d-flex">
                                <img src="KapakResimleri/images/product-item8.png" class="img-fluid shadow-sm" alt="product item">
                                <div class="item-content ms-3">
                                    <h6 class="mb-0 fw-bold"><a href="single-product.html">Dorian Gray'in Portresi'</a></h6>
                                    <div class="review-content d-flex">
                                        <p class="my-2 me-2 fs-6 text-black-50">Oscar Wilde</p>
                                        <div class="rating text-warning d-flex align-items-center">
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                            <hr>
                            <div class="item d-flex">
                                <img src="KapakResimleri/images/product-item9.png" class="img-fluid shadow-sm" alt="product item">
                                <div class="item-content ms-3">
                                    <h6 class="mb-0 fw-bold"><a href="single-product.html">Benim Adım Kırmızı</a></h6>
                                    <div class="review-content d-flex">
                                        <p class="my-2 me-2 fs-6 text-black-50">Orhan Pamuk</p>
                                        <div class="rating text-warning d-flex align-items-center">
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                        </div>
                                    </div>
                                     </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
                    <div class="on-sale border rounded-3 p-4">
                        <div class="section-title overflow-hidden mb-5 mt-2">
                            <h3 class="d-flex flex-column mb-0">En Çok İncelenenler</h3>
                        </div>
                        <div class="items-lists">
                            <div class="item d-flex">
                                <img src="KapakResimleri/images/product-item10.png" class="img-fluid shadow-sm" alt="product item">
                                <div class="item-content ms-3">
                                    <h6 class="mb-0 fw-bold"><a href="single-product.html">Vadideki Zambak</a></h6>
                                    <div class="review-content d-flex">
                                        <p class="my-2 me-2 fs-6 text-black-50">Honore de Balzac</p>
                                        <div class="rating text-warning d-flex align-items-center">
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                        </div>
                                    </div>
                                     </div>
                            </div>
                            <hr class="gray-400">
                            <div class="item d-flex">
                                <img src="KapakResimleri/images/product-item11.png" class="img-fluid shadow-sm" alt="product item">
                                <div class="item-content ms-3">
                                    <h6 class="mb-0 fw-bold"><a href="single-product.html">İçimizdeki Şeytan</a></h6>
                                    <div class="review-content d-flex">
                                        <p class="my-2 me-2 fs-6 text-black-50">Sabahattin Ali</p>
                                        <div class="rating text-warning d-flex align-items-center">
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                            <hr>
                            <div class="item d-flex">
                                <img src="KapakResimleri/images/product-item12.png" class="img-fluid shadow-sm" alt="product item">
                                <div class="item-content ms-3">
                                    <h6 class="mb-0 fw-bold"><a href="single-product.html">Anna Karenina</a></h6>
                                    <div class="review-content d-flex">
                                        <p class="my-2 me-2 fs-6 text-black-50">Lev Nikolayeviç Tolstoy</p>
                                        <div class="rating text-warning d-flex align-items-center">
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                            <svg class="star star-fill">
                                                <use xlink:href="#star-fill"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="categories" class="padding-large pt-0">
        <div class="container">
            <div class="section-title overflow-hidden mb-4">
                <h3 class="d-flex align-items-center">Kategorilerin Öne Çıkanları</h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 border-0 rounded-3 position-relative">
                        <a href="shop.html">
                            <img src="KapakResimleri/images/category1.jpg" class="img-fluid rounded-3" alt="cart item">
                            <h6 class=" position-absolute bottom-0 bg-primary m-4 py-2 px-3 rounded-3">
                                <a href="shop.html"
                                   class="text-white">Klasikler</a>
                            </h6>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center mb-4 border-0 rounded-3">
                        <a href="shop.html">
                            <img src="KapakResimleri/images/category2.jpg" class="img-fluid rounded-3" alt="cart item">
                            <h6 class=" position-absolute bottom-0 bg-primary m-4 py-2 px-3 rounded-3">
                                <a href="shop.html"
                                   class="text-white">Macera</a>
                            </h6>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center mb-4 border-0 rounded-3">
                        <a href="shop.html">
                            <img src="KapakResimleri/images/category3.jpg" class="img-fluid rounded-3" alt="cart item">
                            <h6 class=" position-absolute bottom-0 bg-primary m-4 py-2 px-3 rounded-3">
                                <a href="shop.html"
                                   class="text-white">Tarih</a>
                            </h6>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center mb-4 border-0 rounded-3">
                        <a href="shop.html">
                            <img src="KapakResimleri/images/category4.jpg" class="img-fluid rounded-3" alt="cart item">
                            <h6 class=" position-absolute bottom-0 bg-primary m-4 py-2 px-3 rounded-3">
                                <a href="shop.html"
                                   class="text-white">Şiir</a>
                            </h6>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center mb-4 border-0 rounded-3">
                        <a href="shop.html">
                            <img src="KapakResimleri/images/category5.jpg" class="img-fluid rounded-3" alt="cart item">
                            <h6 class=" position-absolute bottom-0 bg-primary m-4 py-2 px-3 rounded-3">
                                <a href="shop.html"
                                   class="text-white">Biyografi</a>
                            </h6>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center mb-4 border-0 rounded-3">
                        <a href="shop.html">
                            <img src="KapakResimleri/images/category6.jpg" class="img-fluid rounded-3" alt="cart item">
                            <h6 class=" position-absolute bottom-0 bg-primary m-4 py-2 px-3 rounded-3">
                                <a href="shop.html"
                                   class="text-white">Kurgu</a>
                            </h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section id="customers-reviews" class="position-relative padding-large"
         style="background-image: url(images/banner-image-bg.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; height: 600px;">
    <div class="container offset-md-3 col-md-6 ">
        <div class="position-absolute top-50 end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next testimonial-button-next">
            <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
                <use xlink:href="#alt-arrow-right-outline"></use>
            </svg>
        </div>
        <div class="position-absolute top-50 start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev testimonial-button-prev">
            <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
                <use xlink:href="#alt-arrow-left-outline"></use>
            </svg>
        </div>
        <div class="section-title mb-4 text-center">
            <h3 class="mb-4">Yaklaşan Etkinlikler</h3>
        </div>
        <div class="swiper testimonial-swiper ">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card position-relative text-left p-5 border rounded-3">
                        <blockquote>Nobel Edebiyat Ödüllü ünlü yazar Orhan Pamuk, "Kırmızı Saçlı Kadın" ve "Benim Adım Kırmızı" gibi unutulmaz eserlerinden bahsedeceği özel bir söyleşi için bizimle olacak. Pamuk, romanlarının derinliklerini ve Türk edebiyatına kattığı yenilikçi bakış açılarını tartışacak. Etkinlik sonrası Orhan Pamuk, kitaplarını imzalayacak ve okurlarıyla bire bir sohbet etme fırsatı sunacak.</blockquote>
                        <h5 class="mt-1 fw-normal"><b>Tarih:</b>12 Mart 2025, 18:00 <br /><b>Yer:</b> İstanbul, Yapı Kredi Kültür Sanat, İstiklal Caddesi</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card position-relative text-left p-5 border rounded-3">
                        <blockquote>"Türk şiirinin önemli isimlerinden Ataol Behramoğlu, "Vatan Şairi" olarak tanınan şiirleriyle Acepoint Kitapçısı’nda bir araya geliyor. Şiirlerinden bazılarını okuduktan sonra, katılımcılarla şiir üzerine sohbet edecek ve imza gününde okurlarının kitaplarını imzalayacak.</blockquote>
                        <h5 class="mt-1 fw-normal"><b>Tarih:</b> 18 Mart 2025, 15:00 <br /><b>Yer:</b> İstanbul, Galatasaray Üniversitesi Kültür Merkezi</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card position-relative text-left p-5 border rounded-3">
                        <blockquote>"Elif Şafak, "Aşk" ve "10 Dakika 38 Saniye" gibi dünya çapında tanınan eserlerinin yazarı olarak Kanyon Alışveriş Merkezi'nde okurlarıyla buluşuyor. Yazar, yeni kitabı "İskender" hakkında konuşacak, okuyucularının sorularını yanıtlayacak ve kitaplarını imzalayacak. </blockquote>
                        <h5 class="mt-1 fw-normal"><b>Tarih:</b> 25 Mart 2025, 14:00 <br /><b>Yer:</b> İstanbul, D&R Kanyon AVM</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section id="latest-posts" class="padding-large">
        <div class="container">
            <div class="section-title d-md-flex justify-content-between align-items-center mb-4">
                <h3 class="d-flex align-items-center">Bookly Blog</h3>
            <a href="@Url.Action("Blog", "Home")" class="btn">Blog Sayfasına Git</a>
            </div>
            <div class="row">
                <div class="col-md-3 posts mb-4">
                    <img src="KapakResimleri/images/post-item1.jpg" alt="post image" class="img-fluid rounded-3">
                    <a href="blog.html" class="fs-6 text-primary">02-12-2025</a>
                    <h4 class="card-title mb-2 text-capitalize text-dark"><a href="single-post.html">Kitapların Büyülü Dünyası</a></h4>
                    <p class="mb-2">
                        Kitaplar, bizi farklı zamanlara ve mekanlara götüren büyülü kapılardır. Okurken hayal gücümüz gelişir, yeni bakış açıları kazanırız. Peki, sizin için en unutulmaz kitap hangisi? <span><a class="text-decoration-underline text-black-50" href="single-post.html">Devamı...</a></span>
                    </p>
                </div>
                <div class="col-md-3 posts mb-4">
                    <img src="KapakResimleri/images/post-item2.jpg" alt="post image" class="img-fluid rounded-3">
                    <a href="blog.html" class="fs-6 text-primary">12-25-2024</a>
                    <h4 class="card-title mb-2 text-capitalize text-dark"><a href="single-post.html">Kütüphane mi, Kitaplık mı?</a></h4>
                <p class="mb-2">Kitapseverler için en büyük soru: Kitapları dijitalde mi yoksa basılı olarak mı saklamalı? Fiziksel kitapların kokusu mu yoksa e-kitapların pratikliği mi daha cazip? Karar sizin! <span><a class="text-decoration-underline text-black-50" href="single-post.html">Devamı...</a></span> </p>
                </div>
                <div class="col-md-3 posts mb-4">
                    <img src="KapakResimleri/images/post-item3.jpg" alt="post image" class="img-fluid rounded-3">
                    <a href="blog.html" class="fs-6 text-primary">01-18-2025</a>
                    <h4 class="card-title mb-2 text-capitalize text-dark"><a href="single-post.html">Okuma Alışkanlığı Nasıl Kazanılır?</a></h4>
                    <p class="mb-2">
                    Kitap okumaya zaman ayırmakta zorlanıyor musunuz? Günde sadece 10 dakika okuyarak bile büyük fark yaratabilirsiniz. İşte okuma alışkanlığı kazanmanın ipuçları<span><a class="text-decoration-underline text-black-50" href="single-post.html">Devamı...</a></span>
                    </p>
                </div>
                <div class="col-md-3 posts mb-4">
                    <img src="KapakResimleri/images/post-item4.jpg" alt="post image" class="img-fluid rounded-3">
                    <a href="blog.html" class="fs-6 text-primary">01-30-2025</a>
                    <h4 class="card-title mb-2 text-capitalize text-dark"><a href="single-post.html">Türüne Göre Kitap Seçimi</a></h4>
                    <p class="mb-2">
                    Roman mı, kişisel gelişim mi, yoksa bilim kurgu mu? Doğru kitabı seçmek, okuma keyfini artırır. Peki, ruh halinize en uygun kitap türü hangisi?<span><a class="text-decoration-underline text-black-50" href="single-post.html">Devamı...</a></span>
                    </p>
                </div>
            </div>
        </div>
    </section>